.ReactModalPortal > * {
    opacity: 0;
}
.ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
    background: rgba(0, 0, 0, 0.15);
}
.ReactModal__Overlay--after-open {
    transition  : all .2s ease;
    opacity: 1;
}
.ReactModal__Overlay--before-close {
    transition  : all .2s ease;
    opacity: 0;
}
.ReactModal__Content--before-close {
    transition  : all .2s ease;
    opacity: 0;
    transform: translateY(-40px);
    transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
}
  
.ReactModal__Content--after-open {
    transition  : all .2s ease;
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
}
